* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3a8a, #0f172a);
    color: white;
}

.container {
    width: 500px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.add-btn {
    background: #3b82f6;
    color: white;
    font-size: 18px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

.danger {
    background: #ef4444;
    color: white;
}

#filterBtn {
    background: #10b981;
    color: white;
}

.task-list {
    max-height: 250px;
    overflow-y: auto;
}

.task-item {
    background: rgba(255,255,255,0.15);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-actions button {
    margin-left: 5px;
    font-size: 12px;
}

.empty {
    text-align: center;
    opacity: 0.6;
}
